*{
  margin: 0;padding: 0;
}
body{
  display: grid;
  place-content: center;
  height: 100vh;
}
.app{
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  padding: 10px;
  background-color: rgb(215, 210, 210);
  min-width: 40vw;
  min-height: 70vh;
  display: grid;
  place-content: center;
}
.start ul li{
list-style: none;
}

